.btn1 {
    width: 100%;
    height: 40px;
    color: #f0f8ff;

    border-radius: 1.3rem;
    background-color: #676767;

    &:hover {
        background-color: white;
        color: #676767;
    }
}