.aboutrow1col1 {
    background-color: rgba(30, 30, 30, 1);
    border-radius: 1rem;
    /* min-width: 350px; */

}

.nnnnnn {
    /* min-width: 400px; */

    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    box-shadow: 0 0 10px white;
    background-color: rgba(30, 30, 30, 1);
    border-radius: 1rem;

}

.letftop {
    display: flex;
    width: 100%;
    /* min-width: 400px; */

    margin-top: 10px;
    justify-content: center;
    box-shadow: 0 0 10px white;
    background-color: rgba(30, 30, 30, 1);

    align-self: center;
    margin-bottom: 30px;
    color: white;

}

.project {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 85%;
    /* min-width: 400px; */

    margin: 0 auto;
    padding: 2rem 3rem;
    border-radius: 2rem;
    background-color: rgba(30, 30, 30, 1);
    box-shadow: 0 0 10px white;

    margin-bottom: 20px;
    margin-top: 30px;
    color: white;
}

.letftop i,
h2 {
    font-size: xx-large;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.letftop i {
    width: 70px;
    height: 70px;
    /* min-width: 400px; */
    background-color: rgba(30, 30, 30, 1);
    animation: round infinite linear 1s;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px white;
    border-style: dashed;
}

.footercont {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes round {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.container1 {
    width: 85%;
    margin: 0 auto;
    display: flex;
}

.container1 img {
    width: 40%;
    border-radius: 0 2rem 0 2rem;
    margin-right: 20px;
    margin-bottom: 10px;
}

.aboutrow1col2 h1 {
    font-size: 70px;
    justify-content: center;
    text-align: center;
    word-spacing: 2px;
}

.col2row2 {
    /* background-color: rgba(30, 30, 30, 1);
 */
    border-radius: 1rem;


}

.aboutrow3col {
    background-color: rgba(30, 30, 30, 1);
    border-radius: 1rem;
}

@media screen and (max-width:800px) {
    .container1 {
        flex-direction: column;
        width: 400px;
        background-color: black;
    }

    .nnnnnn {
        width: 400px;
        background-color: black;

    }

    .footercont {
        width: 400px;
        background-color: black;

    }

    .aboutrow1col1 {

        background-color: black;
        width: 400px;
    }

    .letftop i {
        width: 10%;
        height: 10%;
    }

}

@media screen and (max-width:400px) {
    .letftop {
        width: 300px;
        display: flex;
        justify-content: start;
        align-items: center;

        padding: 0 1rem;

    }

    .nnnnnn {
        width: 300px;
    }

}

@media screen and (max-width:1000px) {

    .footercont {
        width: 100%;
        text-align: start;
        margin: auto;
    }


}