.heading {
    width: 85%;
    margin: 0 auto;
    color: white;
    font-weight: 900;
}

.skillscont {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footercont {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:560px) {
    .skillscont {
        width: 50%;
        margin: 0 auto;
    }

}